.grid-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);
}

.grid-items .grid-box {
  margin: 10px;
  width: 300px;
  height: 300px;
  text-align: center;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  font-size: 14px;
  display: block;
  position: relative;
}

.base-loading .items span {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  height: 20px;
  width: 10px;
  animation: base-loading 1s linear infinite;
  animation-play-state: paused;
}

.base-loading span:nth-child(1){
  animation-delay: 0.1s;
  background-color: skyblue;
}
.base-loading span:nth-child(2){
  animation-delay: 0.3s;
  background-color: crimson;
}
.base-loading span:nth-child(3){
  animation-delay: 0.5s;
  background-color: darkgrey;
}

@keyframes base-loading {
  0% {
    transform: scale(0.5, 0)
  }
  50% {
    transform: scale(1.2, 1)
  }
  100% {
    transform: scale(0.5, 0)
  }
}

.square-items {
  height: 50px;
  width: 50px;
  margin: auto;
  margin-bottom: 5px;
  position: relative;
}

.square-items span {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  animation: square-loading 2s infinite;
  animation-play-state: paused;
}

.square-items span:first-child{
  animation-delay: 0s;
}

.square-items span:last-child{
  animation-delay: 0.8s;
}

@keyframes square-loading {
  0% {
    top: 0;
    left: 0;
    background-color: skyblue;
  }
  25% {
    top: 0;
    left: calc(100% - 10px);
    background-color: crimson;
  }
  50% {
    top: calc(100% - 10px);
    left: calc(100% - 10px);
    background-color: grey;
  }
  75% {
    top: calc(100% - 10px);
    left: 0;
    background-color: greenyellow;
  }
  100% {
    top: 0;
    left: 0;
    background-color: black;
  }
}

.db-items {
  margin: auto;
  height: 50px;
  width: 50px;
}

.db-items span{
  position: absolute;
  display: block;
  border: 3px solid darkgray;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
  width: inherit;
  height: inherit;
  bottom: 20%;
  transition: 0.5s;
}

.db-items span:nth-child(1){
  animation: circle 6s linear infinite;
  animation-play-state: paused;
}
.db-items span:nth-child(2){
  animation: circle 8s linear infinite;
  animation-direction: reverse;
  animation-play-state: paused;
}
.db-items span:nth-child(3){
  animation: circle 10s linear infinite;
  animation-play-state: paused;
}
.db-items:hover span:nth-child(1){
  background-color: crimson;
  opacity: .3;
}
.db-items:hover span:nth-child(2){
  background-color: dodgerblue;
  opacity: .6;
}
.db-items:hover span:nth-child(3){
  background-color: yellowgreen;
  opacity: .3;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.base-dropdown .left {
  display: inline-block;
  height: 100%;
  width: 40%;
  position: absolute;
  margin-left: 10px;
  top: 0;
  left: 0;
}
.base-dropdown .right {
  display: inline-block;
  height: 100%;
  width: 60%;
  position: absolute;
  top: 10%;
  left: 40%;
}

.base-dropdown .right button {
  width: 70%;
  background-color: limegreen;
  border-style: none;
  outline: none;
}

.dropdown-menu {
  width: 70%;
  display: none;
  margin: auto;
}

.box {
  display: block;
  color: black;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.right:hover .dropdown-menu{
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

.box:hover {
  background-color: #eee;
}

.base-hover {
  background-image: url('/images/commodity.jpg');
  background-position: center center;
  background-size: cover;
}

.base-hover-items {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 0.8em;
  background-color: black;
  height: 100%;
  text-overflow: clip;
  opacity: 0;
  transition: 0.5s;
}

.base-hover-items:hover {
  opacity: 1;
}

.base-hover-items p{
  margin-bottom: 15px;
}
.base-hover-items a{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}
.base-hover-items a:hover{
  color: black;
  background-color: white;
}





