.container {
  text-align: center;
}

.items {
  margin: 50px;
  display: grid;
  grid-auto-flow: column;
}

.items a {
  box-sizing: border-box;
  line-height: 200px;
  font-size: 16px;
  height: 200px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 50%;
  text-decoration: none;
  overflow: hidden;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.items a:hover{
  background-image: url('/images/not_finished.jpg')
}

.items a:first-child:hover{
  background-image: url('/images/html_css.jpg');
}
.items a:last-child:hover{
  background: url('/images/personal_webpage.png') no-repeat center center;
  background-size: contain;
}





