/*FontAwesom*/
/*font-family: fontawesome*/
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*Monoton WebFont*/
/*font-family: 'Monoton', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/*Montserrat WebFont*/
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.video-frame video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.video-frame {
  position: relative;
  height: 100vh;
}
.video-frame:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, transparent, crimson);
}
.logo img {
  position: absolute;
  top: 50px;
  left: 100px;
}
.heading {
  position: absolute;
  width: 400px;
  bottom: 50px;
  left: 100px;
  color: white;
  animation: showing1 2s linear 1;
}
.heading h1 {
}
.heading h1 span {
  display: block;
  color: crimson;
}
.heading a {
  border: 2px solid white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
}
.heading p {
  margin-bottom: 20px;
}
.a-book {
  color: black;
  background-color: #eee;
}
.a-learn {
  color: white;
}
.a-book:hover {
  background-color: black;
  color: white;
}
.a-learn:hover {
  background-color: #9a2c2c;
  color: black;
}
.anniversary {
  position: absolute;
  bottom: 50px;
  right: 100px;
  text-align: center;
  animation: showing2 2s linear 1;
}
.anniversary em {
  display: block;
  font-size: 42px;
  margin-bottom: -20px;
  font-style: normal;
}
.anniversary span {
  font-family: 'Monoton', cursive;
  font-size: 70px;
}
.navigator {
  position: absolute;
  top: 50px;
  right: 100px;
  width: 20px;
  height: 15px;
  cursor: pointer;
  z-index: 100;
}
.navigator span {
  position: absolute;
  height: 1px;
  background-color: black;
  transition: 0.3s;
}
.navigator span:nth-child(1) {
  width: 100%;
  top: 0;
}
.navigator span:nth-child(2) {
  width: 80%;
  top: 50%;
}
.navigator span:nth-child(3) {
  width: 100%;
  top: 100%;
}
.navigator.active span {
  background-color: white;
}
.navigator.active span:nth-child(1) {
  opacity: 1;
  top: 50%;
  transform: rotate(45deg);
}
.navigator.active span:nth-child(2) {
  opacity: 0;
}
.navigator.active span:nth-child(3) {  
  opacity: 1;
  top: 50%;
  transform: rotate(-45deg);
}
.navi-gnb {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}
.gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gnb a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 10px 0px;
  font-size: 42px;
  animation: ani-gnb 0.5s linear 1;
  animation-fill-mode: both;
  transition: 0.3s;
  opacity: 0;
}
.gnb a:hover {
  color: crimson;
}
.gnb a:nth-child(1) {
  animation-delay: 0.3s;
}
.gnb a:nth-child(2) {
  animation-delay: 0.5s;
}
.gnb a:nth-child(3) {
  animation-delay: 0.7s;
}
.gnb a:nth-child(4) {
  animation-delay: 0.9s;
}
.gnb a:nth-child(5) {
  animation-delay: 1.1s;
}
#bgmAudio {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
@keyframes showing1 {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes showing2 {
  0% {
    opacity: 0;
    margin-right: -100px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
@keyframes ani-gnb {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
