@media (max-width:780px) {
  body {
    margin: 0;
    padding: 0;
  }
  .cd-section {
    height: auto;
  }
  .cd-section > div {
    height: auto;
  }
  .content {
    position: static;
    width: 100%;
    height: 100%;
    background-color: #ddd;
  }
  
  /* velocity navigation button */
  .cd-vertical-nav {
    display: none;
  }
  
  /* header */
  header {
    transition: 0.5s;
  }
  header.active {
    background-color: white;
    border-bottom: 1.5px solid gray;
  }
  .gnb {
    position: fixed;
    right: -270px;
    top: 0;
    background-color: #fff;
    width: 250px;
    height: 100vh;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.47);
    padding-right: 20px;
    transition: 0.5s;
  }
  .gnb.active {
    right: 0;
  }
  .menu {
    line-height: 50px;
    display: block;
    margin-top: 50px;
    text-align: right;
  }
  .menu a {
    display: block;
    color: black;
    font-size: 24px;
  }
  .slogan {
    display: none;
  }
  
  /* Trigger */
  .trigger {
    position: absolute;
    display: block;
    width: 24px;
    height: 14px;
    top: 25px;
    right: 20px;
  }
  
  .trigger span {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: black;
    transition: 0.5s;
  }
  .trigger span:nth-child(1) {
    top: 0;
  }
  .trigger span:nth-child(2) {
    top: 50%;
    width: 80%;
  }
  .trigger span:nth-child(3) {
    top: 100%;
  }
  .trigger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .gototop {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s;
  }
  .gototop.active {
    transform: translateY(0);
    opacity: 1;
  }
  .btn-hiring {
    right: 20px;
    bottom: 20px;
  }
  

  /*########################### Home Section #################################*/
  #home .content {
    height: 100vh;
  }
  .text-screen {
    width: 100%;
  }
  .home-text {
    left: 20px;
    transform: translateY(-50%);
  }
  .home-text span {
    font-size: 50px;
  }
  
  /*########################### About Section #################################*/
  #about .content {
    height: auto;
  }
  .about-inner {
    height: auto;
    background: #0dace3;
  }
  .about-content {
    width: 100%;
    position: static;
    transform: none;
    margin-left: 0;
    text-align: center;
  }
  .about-content img {
    width: 100px;
    float: none;
    margin-bottom: 10px;
  }
  
  /*########################### Project Section #################################*/
  #project .content {
    height: auto;
  }
  .project-inner {
    height: auto;
  }
  .tabs {
    height: auto;
  }
  .tab > div {
    float: none;
  }
  .project-info {
    width: 100%;
    height: auto;
  }
  .project-info a {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  .stats {
    font-size: 12px;
  }
  .project-img {
    width: 100%;
  }
  .project-img button:before {
    display: none;
  }
  .btns {
    bottom: 0;
    width: 100%;
  }
  .btns label {
    margin-left: 10px;
    width: 10px;
    height: 10px;
  }
  
  /*########################### Plan & History Section #################################*/
  #ph .content,
  .plan-div {
    height: auto;
  }
  .plan-div-inner {
    position: static;
    transform: none;
    width: 100%;
    height: auto;
    padding: 10px;
    padding-top: 20px;
  }
  .plan-div-inner > div {
    height: auto;
  }
  .plan-text h2,
  .history h2 {
    font-size: 24px;
  }
  .plan {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .plan .plan-text,
  .plan .plan-photo {
    width: 100%;
    float: none;
  }
  .plan-photo {
    text-align: center;
  }
  .plan-photo img {
    width: 100%;
    height: auto;
  }
  .history-slider {
    margin: 20px 0;
    margin-top: 10px;
  }
  
  /*########################### Awards Section #################################*/
  #awards .content {
    height: auto;
  }
  .award-inner {
    height: auto;
  }
  .award-inner > div {
    height: 100vh;
    width: 100%;
    float: none;
  }
  .award-left {
    background-color: #2c2525;
    padding: 10px;
    padding-top: 50px;
  }
  .award-heading {
    position: static;
    transform: none;
    width: 100%;
  }
  .award-right {
    padding: 20px;
    height: auto!important;
  }
  .award-right img {
    position: static;
    transform: none;
    width: 100%;
  }
  
  /*########################### Location Section #################################*/
  #location .content,
  .feature {
    height: auto;
  }
  .location-content {
    width: 100%;
    position: static;
    transform: none;
    padding: 0 10px;
    padding-top: 60px;
  }
  .location-content > div {
    float: none;
    position: relative;
  }
  .office {
    width: 100%;
    padding-right: 0;
  }
  .service {
    width: 100%;
    padding-bottom: 20px;
  }
  
  /*########################### Contact Section #################################*/
  #contact .content,
  .content-inner {
    height: auto;
  }
  .content-inner {
    position: static;
  }
  .content-inner-center {
    position: static;
    transform: none;
    height: auto;
    width: 100%;
  }
  .content-inner-center > div {
    float: none;
    width: 100%;
  }
  
  /*########################### Hiring Section #################################*/
  .hiring-main {
    height: 300px;
  }
  .hiring-main-inner {
    width: 100%;
  }
  .hiring-main-inner h2 {
    font-size: 24px;
  }
  .hiring-info {
    padding: 10px;
  }
  .hiring-info > div {
    width: 100%;
    height: auto;
    float: none;
    text-align: center;
  }
  .hiring-info-text-div {
    position: static;
    transform: none;
    width: 100%;
  }
  .hiring-info-text-div p {
    text-align: left;
  }
  .hiring-info-photo img {
    height: auto;
  }
  .hiring-slogan {
    width: 100%;
    height: auto;
  }
  .hiring-slogan p {
    position: relative;
    transform: none;
    font-size: 24px;
    width: 100%;
    margin: 30px 0;
    left: 0;
  }
  .hiring-slogan p:before {
    font-size: 46px;
    top: -20px;
    left: 20px;
  }
  .hiring-contact-box {
    position: static;
    transform: none;
    width: 100%;
    height: auto;
  }
  .hiring-contact ul {
    width: 100%;
    display: block;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px
  }
  .featherlight .featherlight-close-icon {
    right: 20px;
  }
  
  /*########################### Project SubPage Section #################################*/
  .hiring-main.project-main01,
  .hiring-main.project-main02,
  .hiring-main.project-main03 {
    height: 70vh;
  }
  
  .project-main01 .hiring-main-inner h2,
  .project-main02 .hiring-main-inner h2,
  .project-main03 .hiring-main-inner h2 {
  font-size: 36px;
  }
  
  .project-ul ul {
    margin-top: 20px;
    text-align: left;
  }
  .hiring-slogan.project-slogan {
    padding: 0 10px;
    padding-bottom: 20px;
  }
}
  